{% extends 'barbershop/base_generic.html' %}

{% block title %}Reset password form{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        .reset-form {
            width: 300px;
            text-align: center;
            margin: auto;
        }

        .auth-box {
            border: 3px solid lightgray;
            border-radius: 10px;
            padding-top: 25px;
            padding-bottom: 25px;
            width: 600px;
            margin: auto;
        }
    </style>

    <div class="auth-box mt-5">
        <h2 class="text-center">Reset your password</h2>
        <div class="reset-form">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input class="btn btn-success mt-3" type="submit" value="Send confirmation link">
            </form>
        </div>
    </div>
{% endblock %}