{% extends 'barbershop/base_generic.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <style>
    .center-form{
        margin: auto;
        width: 500px;
        padding: 20px;
        text-align: center;
    }
    ul{
        display: none;
    }
    </style>
    <div class="center-form">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="mt-2 btn btn-success" type="submit" value="Change">
        </form>
    </div>
{% endblock %}