{% extends 'barbershop/base_generic.html' %}

{% block title %}Reset password form{% endblock %}


{% block content %}
    <style>
    #reset{
        background-color: thistle;
        width: 400px;
        text-align: center;
        padding: 20px;
        margin-top: 220px;
    }

    </style>
    <div class="row">
    <div class="col-3"></div>
    <div class="col-6" id="reset">
        <p>Reset password</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-success" type="submit" value="Send confirmation link">
        </form>
    </div>
    <div class="col-3"></div>
    </div>
{% endblock %}