{% extends 'health/base_generic.html' %}

{% block title %}
    By Category
{% endblock %}

{% block content %}
    <style>
        li {
            list-style-type: none;
        }

        .img-thumbnail {
            height: 300px !important;
            width: 400px !important;
        }

        #recipe {
            color: black;
            background-color: white;
            padding: 20px;
            margin: 20px;
            border-radius: 10px;

        }

        #link {
            size: 10px;
            color: white;
        }

    </style>
    <div class="row">
        <div class="col-2">
            <a id="link" href="{% url 'recipes:recipes_list' %}"><i
                    class="fas fa-long-arrow-alt-left mr-2"></i>back</a>
        </div>
        <div class="col-sm-8">
            <div class="search mt-5 text-center">

                <form class="form-inline" method="GET" action="{% url 'recipes:search_calories' by_category.slug %}">
                    <input name="calories" value="{{ request.GET.q }}" class="form-control mr-sm-2" type="search"
                           placeholder="Calories search.." aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <h1 class="mt-4 mr-5 text-center">{{ by_category.name }}</h1>
            {% if query %}
                {% if result %}
                    {% for i  in result %}
                        <div class="row" id="recipe">
                            <div class="col-sm-6">
                                <p style="font-size: 25px"><strong>{{ i.title }}</strong></p>
                                <p><strong>Amount of calories: {{ i.calories }}</strong></p>
                                <p>Protein: {{ i.protein }}</p>
                                <p>Carbohydrates: {{ i.carbohydrates }}</p>
                                <p>Fat: {{ i.fat }}</p>
                                <p>{{ i.description|truncatechars:100 }}<a href="{{ i.get_absolute_url }}">Read more</a>
                                </p>

                            </div>
                            <div class="col-sm-6">
                                <img class="img-thumbnail"
                                     src="{% if i.image %}{{ i.image.url }}{% else %}Sos{% endif %}"><br>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    Not found
                {% endif %}
            {% endif %}


            {% for rec in recipes %}
                <div class="row" id="recipe">
                    <div class="col-sm-6">
                        <p style="font-size: 25px"><strong>{{ rec.title }}</strong></p>
                        <p>{{ rec.description|truncatechars:100 }}<a href="{{ rec.get_absolute_url }}">Read more</a></p>
                        <p><strong>Amount of calories: {{ rec.calories }}</strong></p>
                        <p>Protein: {{ rec.protein }}</p>
                        <p>Carbohydrates: {{ rec.carbohydrates }}</p>
                        <p>Fat: {{ rec.fat }}</p>
                    </div>
                    <div class="col-sm-6">
                        <img class="img-thumbnail"
                             src="{% if rec.image %}{{ rec.image.url }}{% else %}Sos{% endif %}"><br>
                    </div>
                </div>
            {% endfor %}
        </div>
    <div class="col-2"></div>
    </div>
{% endblock %}