{% extends "health/base_generic.html" %}


{% block title %}
    Home
{% endblock %}

{% block content %}
    {% load embed_video_tags %}
    <style>
        .info_most {
            font-size: 14px;
            opacity: 0.6;
        }

        a {
            color: black;
        }

        .news {
            color: black;
            margin: 20px;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
        }

        .main-news {
            color: black;
            padding: 20px;
            border-radius: 10px;
            background-color: white;
            margin: 20px;
        }

        #container {
            background-color: #cccccc;
        }

        .img-thumbnail {
            width: 250px !important;
            height: 200px !important;
        }

        .info {
            opacity: 0.6;
            width: 350px;
            font-size: 14px;
            display: inline-block;
            text-align: left;
        }

        a:hover {
            text-decoration: none !important;
        }

        .pagination {
            padding: 20px;
            text-align: center;
            margin-top: 1em;
        }

        .pagination a {
            text-decoration: none;
        }

        .pagination-current,
        .pagination-total {
            padding: 0.5em 0.8em;
            border-radius: 2px;
            color: #fff;
            background-color: #0f9c2d;
        }

        .pagination-total {
            background-color: green;
        }

        .pagination-action {
            margin: 0 0.1em;
            display: inline-block;
            padding: 0.5em 0.5em;
            color: #B9B9B9;
            font-size: 1.3em;
        }

        .pagination-of {
            color: #B9B9B9;
            padding: 0 1em;
        }

        .pagination-action:hover {
            color: #3354AA;
        }


    </style>

    <div class="row">
    <div class="col-sm-1">

    </div>
        <div class="col-sm-6" >
            {% for post in object_list %}
                <div class="row main-news">
                    {% if post.video %}
                        <div class="embed-responsive embed-responsive-21by9">
                            {% video post.video "100x100" %}
                        </div>
                    {% else %}
                        <div class="col-sm-5"><img class="img-thumbnail"
                                                src="{% if post.image %}{{ post.image.url }}{% else %}Sos{% endif %}">
                        </div>
                    {% endif %}
                    <div class="col-sm-6">
                        <p>
                        <h2>{{ post.title }}</h2></p>
                        <div class="info">
                            <i class="fas fa-comment mr-2"></i>{{ post.comments.count }}<br>
                            <i class="fas fa-calendar-alt mr-2"></i>{{ post.created }}<br>
                            <i class="fas fa-user mr-2"></i>{{ post.author }}
                        </div>
                        <p>{{ post.body|truncatechars:100 }} <a href="{% url 'news:post-detail' post.slug %}">Read
                            more ></a></p>

                    </div>
                </div>
            {% endfor %}


            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item disabled">
                        <a class="pagination-action" href="?page=1">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                        <a class="pagination-action" href="?page={{ page_obj.previous_page_number }}">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endif %}
                <span class="pagination-current">{{ page_obj.number }}</span>
                <span class="pagination-of">of</span>
                <span class="pagination-total">{{ page_obj.paginator.num_pages }}</span>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="pagination-action" href="?page={{ page_obj.next_page_number }}">
                            <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
                        <a class="pagination-action" href="?page={{ page_obj.paginator.num_pages }}">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>

                {% endif %}
            </ul>
        </div>


        <div class="col-sm-4">
            <div class="news">

                <h2>Most popular posts:</h2>
                {% for m in most_populars %}
                    <div class="row mt-5">
                        <div class="col-sm-6">
                            {% if m.video %}
                                <div style="width: 150px;  height: 150px"
                                     class="embed-responsive embed-responsive-21by9">
                                    {% video m.video %}
                                </div>
                            {% else %}
                                <div><img style="width: 200px!important; height: 150px!important;" class="img-thumbnail"
                                          src="{% if m.image %}{{ m.image.url }}{% else %}Sos{% endif %}">
                                </div>


                            {% endif %}
                        </div>
                        <div class="col-sm-6">

                            <a href="{% url 'news:post-detail' m.slug %}"> <strong>{{ m.title }}</strong><br></a>
                            <div class="info_most">
                                <i class="fas fa-calendar-alt mr-2"></i>{{ m.created }}<br>
                                <i class="fas fa-comment mr-2" style="font-size: small"></i>{{ m.comments.count }}<br>
                                <i class="fas fa-user mr-2"></i>{{ m.author }}<br>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    <div class="col-sm-1"></div>
    </div>

{% endblock %}


   
    