{% extends "health/base_generic.html" %}

{% block title %}Calculator result{% endblock %}

{% block content %}
    <div class="container">

        <div class="result-title">RESULT</div>
        <div class="water">
            <div class="title">Index
                <button id="myBtn2"><i
                        class="far fa-question-circle"></i>
                </button>
            </div>
            <div id="myModal2" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <p>Body mass index (BMI) is a value derived from the mass (weight) and height of a person. The BMI
                        is defined as the body mass divided by the square of the body height, and is universally
                        expressed in units of kg/m2, resulting from mass in kilograms and height in metres. </p>
                </div>

            </div>
            <div class="index-number">
                <div class="index">{{ bmi }}</div>
            </div>
            <h3 class="mt-5">YOUR WEIGHT: </h3>
            {% if bmi <= 16 %}
                <h3>Severe Thinness</h3>
            {% elif bmi < 17 and bmi > 16 %}
                <h3>Moderate Thinness</h3>
            {% elif bmi > 17 and bmi < 18.5 %}
                <h3>Mild Thinness</h3>
            {% elif bmi > 25.5 %}
                <h3>Overweight</h3>
            {% elif bmi > 18.5 and bmi < 25.5 %}
                <h3>NORMAL</h3>
            {% endif %}
        </div>
        <div class="water">
            <div class="title">Calories
                <button id="myBtn3"><i
                        class="far fa-question-circle"></i>
                </button>
            </div>
            <div id="myModal3" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <p>Calories</p>
                </div>

            </div>

            <div class="weight-number">
                <div class="weight">{{ tdee }} - {{ tdee_plus }}</div>

            </div>
            <h2>RECOMMENDED DAILY CALORIES: </h2>
            <p>Lose weight: {{ tdee_lose_weight }} - {{ tdee_lose_weight_plus }} calories</p>
            <p>Gain weight: {{ tdee_gain_weight }} - {{ tdee_gain_weight_plus }} calories</p>
        </div>
        <div class="water">
            <div class="title">Water
                <button id="myBtn"><i
                        class="far fa-question-circle"></i>
                </button>
            </div>
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <p>This tool can prove to be very useful in determining how much water you actually need to drink as
                        it takes various factors in consideration.</p>
                </div>

            </div>
            <div class="info-water">
                <div class="info-water-value">
                    <span>2.1 l</span>
                </div>
            </div>
            <h3>RECOMMENDED DAILY RATE:</h3>
            <h3>2.1 l</h3>

        </div>
        <div class="water">
            <div class="title">Result
                <button id="myBtn1"><i
                        class="far fa-question-circle"></i>
                </button>
            </div>
            <div id="myModal1" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <p>RES</p>
                </div>

            </div>
            <div class="perfect-weight">
                <div class="weight-value mt-3">{{ perfect_weight }}kg</div>
            </div>
            <p class="mt-5">PERFECT WEIGHT:</p>
            <h3>{{ perfect_weight }}kg</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">

        </div>
        {% if user.is_authenticated %}
            <div class="container col-sm-8">

                <div class="card-deck text-center">

                    <div class="card">
                        <img class="card-img-top"
                             src="/media/images/fat_article.jpg" alt="Lose weight program">
                        <div class="card-body">
                            <h4 class="card-title">Lose weight</h4>
                            <p class="card-text">Try program for lose weight</p>
                            <a href="{% url 'diets:program' 'lose' tdee %}"
                               class="btn btn-success">Try it</a>
                        </div>
                    </div>


                    <div class="card">
                        <img class="card-img-top"
                             src="/media/images/healthy_food.png" alt="Stable weight program">
                        <div class="card-body">
                            <h4 class="card-title">Stable weight</h4>
                            <p class="card-text">Try program for stable weight</p>
                            <a href="{% url 'diets:program' 'stable' tdee %}"
                               class="btn btn-success">Try it</a>
                        </div>
                    </div>


                    <div class="card">
                        <img class="card-img-top"
                             src="/media/images/food.jpg" alt="Gain weight program">
                        <div class="card-body">
                            <h4 class="card-title">Gain weight</h4>
                            <p class="card-text">Try program for gain weight</p>
                            <a href="{% url 'diets:program' 'gain' tdee %}" class="btn btn-success">Try it</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="col-sm-2">

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/js/calculator-results.js"></script>
{% endblock %}
