{% extends 'health/base_generic.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="auth-box">
        <h2 class="text-muted text-center">Registration</h2>
        <form class="mt-2" action="." method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Username:</label>
                {{ user_form.username }}
            </div>
            <div class="mb-3">
                <label class="form-label">First name:</label>
                {{ user_form.first_name }}
            </div>
            <div class="mb-3">
                <label class="form-label">Email:</label>
                {{ user_form.email }}
            </div>
            <div class="mb-3">
                <label class="form-label">Password:</label>
                {{ user_form.password }}
            </div>
            <div class="mb-3">
                <label class="form-label">Repeat password:</label>
                {{ user_form.password2 }}
            </div>
            <div class="mb-3">
                <label class="form-label">Phone:</label>
                {{ profile_form.phone }}
            </div>
            <button type="submit" class="btn btn-success">Create account</button>
            <p class="mt-3">Or <a href="{% url 'login' %}">login</a></p>
        </form>
    </div>
{% endblock %}
