<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<title>Register</title>

<style>
    .auth-container {
        border: 3px solid lightgray;
        border-radius: 10px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 600px;
        margin: auto;
        font-family: "Playfair Display";
    }

    .register-container {
        margin: auto;
        width: 300px;
        text-align: center;
    }
</style>
{% block content %}

    <div class="auth-container mt-5">
        <h2 class="text-muted text-center">Registration</h2>
        <div class="register-container">
            <form class="mt-2" action="." method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label>Username:</label>
                    {{ user_form.username }}
                </div>
                <div class="form-group">
                    <label>First name:</label>
                    {{ user_form.first_name }}
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    {{ user_form.email }}
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    {{ user_form.password }}

                </div>
                <div class="form-group">
                    <label>Repeat password:</label>
                    {{ user_form.password2 }}
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    {{ profile_form.phone }}
                </div>
                <input type="submit" value="Create account" class="btn btn-success">
                <p>Or <a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>

{% endblock %}
