{% extends "health/base_generic.html" %}

{% block title %}
    My Profile
{% endblock %}



{% block content %}
    <style>
        .img-thumbnail {
            height: 100px !important;
            width: 150px !important;
        }


        li {
            list-style-type: none;
        }

        #ul li:hover {
            text-decoration: none;
            background-color: #cccccc;
        }

        a:hover {
            text-decoration: none !important;
        }

        a {
            color: white;
        }

        #recipes_by_category {
            padding: 10px;
        }

        #title-recipe {
            color: white;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
        }

        .favorite-title {
            color: white;
            text-align: center;
            font-size: 40px;
            margin-top: 30px;
            text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
        }
    </style>
    <div class="row">
        <div class="container">
            <div class="favorite-title">Favorite recipes</div>
        </div>
    </div>
    <div id="body" class="row mt-5">

        <div id="profile_menu" class="col-sm-2">
            <div class="row  mt-5">
                <ul id="ul">
                    <li><a href="{% url  'recipes:edit' %}" class="btn btn-link text-white"><i
                            class="fas fa-cogs mr-1"></i>My Settings</a></li>
                    <li><a href="{% url 'notes:home_notes' %}" class="btn btn-link text-white"><i
                            class="fas fa-sticky-note mr-1"></i>My Notes</a></li>
                    <li><a href="{% url 'diets:weight' %}" class="btn btn-link text-white"><i
                            class="fas fa-first-aid mr-1"></i>My Health</a>
                    </li>
                    {% if program %}
                        <li><a href="{% url 'diets:my_program' %}" class="btn btn-link text-white"><i
                                class="fas fa-chess-rook mr-1"></i>My Program</a></li>
                    {% endif %}
                </ul>

            </div>
            <div class="row ml-3">
                <h2>Your subscribed programs:</h2>
                {% for p in my_programs %}
                    {% if p.is_active %}
                        <p>{{ p.title }}<i class="fas fa-check ml-1"></i></p>
                    {% else %}
                        <p>{{ p.title }}</p>
                    {% endif %}
                {% empty %}
                    <p>You dont have any programs</p>
                {% endfor %}
            </div>
        </div>
        <div id="recipes_by_category" class="col-10">
            <div class="row">
                <div class="col-sm-3">
                    <h3 id="title-recipe">Dinner</h3>
                    {% for d in dinner %}
                        <a href="{{ d.get_absolute_url }}">{{ d.title }}</a><br>
                        <img class="img-thumbnail" src="{{ d.image.url }}">
                        <hr>
                    {% empty %}
                        You have not added favorite dinner food yet.
                        <a target="_blank" href="{% url 'recipes:recipes_by' 'dinner' %}">You can do this here</a>
                    {% endfor %}
                </div>

                <div class="col-sm-3">
                    <h3 id="title-recipe">Breakfast</h3>
                    {% for b in breakfast %}
                        <a href="{{ b.get_absolute_url }}">{{ b.title }}</a><br>
                        <img class="img-thumbnail" src="{{ b.image.url }}">
                        <hr>
                    {% empty %}
                        You have not added favorite breakfast food yet.
                        <a target="_blank" href="{% url 'recipes:recipes_by' 'breakfast' %}">You can do this here</a>
                    {% endfor %}
                </div>

                <div class="col-sm-3">
                    <h3 id="title-recipe">Lunch</h3>
                    {% for l in lunch %}
                        <a href="{{ l.get_absolute_url }}">{{ l.title }}</a><br>
                        <img class="img-thumbnail" src="{{ l.image.url }}">
                        <hr>
                    {% empty %}
                        You have not added favorite lunch food yet.
                        <a target="_blank" href="{% url 'recipes:recipes_by' 'lunch' %}">You can do this here</a>
                    {% endfor %}
                </div>

                <div class="col-sm-3">
                    <h3 id="title-recipe">Snacks</h3>
                    {% for s in snack %}
                        <a href="{{ s.get_absolute_url }}">{{ s.title }}</a><br>
                        <img class="img-thumbnail" src="{{ s.image.url }}">
                        <hr>
                    {% empty %}
                        You have not added favorite snack yet.
                        <a target="_blank" href="{% url 'recipes:recipes_by' 'snack' %}">You can do this here</a>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>
    {% block scripts %}
        <script>

        </script>
    {% endblock %}
{% endblock %}